<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588941518049-kq5ki4uf450sj9k4lh7vpmg4befqrv9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588941518049-kq5ki4uf450sj9k4lh7vpmg4befqrv9q</string>
	<key>API_KEY</key>
	<string>AIzaSyAqaHOQXQo6Y16loUPQK4G5tTkak8bB4_c</string>
	<key>GCM_SENDER_ID</key>
	<string>588941518049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterMeals</string>
	<key>PROJECT_ID</key>
	<string>first-project-602b9</string>
	<key>STORAGE_BUCKET</key>
	<string>first-project-602b9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588941518049:ios:5c1a5fc982b53b865ac3a0</string>
</dict>
</plist>